<div class="container">
  <form class="user-form" (ngSubmit)="onSubmit()" [formGroup]="profileForm">

    <!-- Имя пользователя.. -->
    <mat-form-field  class="example-full-width" appearance="fill">
      <mat-label>First Name</mat-label>
      <input formControlName="firstName" id="first-name" matInput>
    </mat-form-field>
    <!-- Фамилия пользователя.. -->
    <mat-form-field  class="example-full-width" appearance="fill">
      <mat-label>Last Name</mat-label>
      <input formControlName="lastName" id="last-name" matInput>
    </mat-form-field>
    <!-- Дата рождения пользователя-->
    <mat-form-field  formGroupName="range" class="example-full-width" appearance="fill">
      <mat-label>Choose a date</mat-label>
      <input formControlName="start" matInput [matDatepicker]="picker">
      <mat-datepicker-toggle matSuffix [for]="picker">
        <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
      </mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <!-- Селект с технологиями-->
    <mat-form-field [formGroup]="profileForm" appearance="fill">
      <mat-label>Choice your technology</mat-label>
      <mat-select>
        <mat-option *ngFor="let food of foods" [value]="food.value">
          {{food.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <!-- Отправить данные -->
    <button type="submit" class="user-form__submit">Accept</button>
  </form>
</div>
